:root {
  --background: hsl(var(--med-color-neutral-10));
  --color: hsl(var(--med-color-neutral-1));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(var(--med-color-neutral-1));
    --color: hsl(var(--med-color-neutral-10));
  }
}
