.color-scheme-light,
[color-scheme=light] {
  --med-color-saturation: 40%;
  --med-color-luminosity-1: 80%;
  --med-color-luminosity-2: 70%;
  --med-color-luminosity-3: 50%;
  --med-color-luminosity-4: 30%;
  --med-color-luminosity-5: 20%;
  --med-color-neutral-invert: -1;
  --med-color-neutral-luminosity: 98%;
  --med-color-neutral-luminosity-mutable-1: var(--luminosity-factor-2, 0%);
  --med-color-neutral-luminosity-mutable-2: var(--luminosity-factor-1, 0%);
  --med-color-luminosity-mutable-1: var(--luminosity-factor-2, 0%);
  --med-color-luminosity-mutable-2: var(--luminosity-factor-1, 0%);
}
