.med-color-theme-product-02.med-color-scheme-light {
  --background: var(--med-color-neutral-primary-80);
  --color: var(--med-color-neutral-primary-980);
  --med-color-product-02-brand-hue: 24;
  --med-color-product-02-brand-saturation: 40%;
  --med-color-product-02-brand-200-luminosity: 80%;
  --med-color-product-02-brand-300-luminosity: 70%;
  --med-color-product-02-brand-500-luminosity: 50%;
  --med-color-product-02-brand-700-luminosity: 30%;
  --med-color-product-02-brand-800-luminosity: 20%;
  --med-color-product-02-primary-hue: 200;
  --med-color-product-02-primary-saturation: 40%;
  --med-color-product-02-primary-200-luminosity: 80%;
  --med-color-product-02-primary-300-luminosity: 70%;
  --med-color-product-02-primary-500-luminosity: 50%;
  --med-color-product-02-primary-700-luminosity: 30%;
  --med-color-product-02-primary-800-luminosity: 20%;
  --med-color-product-02-secondary-hue: 268;
  --med-color-product-02-secondary-saturation: 40%;
  --med-color-product-02-secondary-200-luminosity: 80%;
  --med-color-product-02-secondary-300-luminosity: 70%;
  --med-color-product-02-secondary-500-luminosity: 50%;
  --med-color-product-02-secondary-700-luminosity: 30%;
  --med-color-product-02-secondary-800-luminosity: 20%;
  --med-color-neutral-primary-hue: 24;
  --med-color-neutral-primary-saturation: 10%;
  --med-color-neutral-primary-80-luminosity: 98%;
  --med-color-neutral-primary-130-luminosity: 93%;
  --med-color-neutral-primary-180-luminosity: 88%;
  --med-color-neutral-primary-230-luminosity: 83%;
  --med-color-neutral-primary-280-luminosity: 78%;
  --med-color-neutral-primary-330-luminosity: 73%;
  --med-color-neutral-primary-380-luminosity: 68%;
  --med-color-neutral-primary-430-luminosity: 63%;
  --med-color-neutral-primary-480-luminosity: 58%;
  --med-color-neutral-primary-530-luminosity: 53%;
  --med-color-neutral-primary-580-luminosity: 48%;
  --med-color-neutral-primary-630-luminosity: 43%;
  --med-color-neutral-primary-680-luminosity: 38%;
  --med-color-neutral-primary-730-luminosity: 33%;
  --med-color-neutral-primary-780-luminosity: 28%;
  --med-color-neutral-primary-830-luminosity: 23%;
  --med-color-neutral-primary-880-luminosity: 18%;
  --med-color-neutral-primary-930-luminosity: 13%;
  --med-color-neutral-primary-980-luminosity: 8%;
  --med-color-success-primary-hue: 128;
  --med-color-success-primary-saturation: 80%;
  --med-color-success-primary-650-luminosity: 45%;
  --med-color-attention-primary-hue: 44;
  --med-color-attention-primary-saturation: 80%;
  --med-color-attention-primary-650-luminosity: 45%;
  --med-color-caution-primary-hue: 24;
  --med-color-caution-primary-saturation: 80%;
  --med-color-caution-primary-650-luminosity: 45%;
  --med-color-warning-primary-hue: 4;
  --med-color-warning-primary-saturation: 80%;
  --med-color-warning-primary-650-luminosity: 45%;
}
