[data-med-color-scheme=dark],
.med-color-scheme-dark {
  --med-color-brand-primary-hue: 24;
  --med-color-brand-primary-saturation: 80%;
  --med-color-brand-primary-200-luminosity: 20%;
  --med-color-brand-primary-300-luminosity: 30%;
  --med-color-brand-primary-500-luminosity: 50%;
  --med-color-brand-primary-700-luminosity: 70%;
  --med-color-brand-primary-800-luminosity: 80%;
  --med-color-neutral-primary-hue: 24;
  --med-color-neutral-primary-saturation: 10%;
  --med-color-neutral-primary-80-luminosity: 8%;
  --med-color-neutral-primary-130-luminosity: 13%;
  --med-color-neutral-primary-180-luminosity: 18%;
  --med-color-neutral-primary-230-luminosity: 23%;
  --med-color-neutral-primary-280-luminosity: 28%;
  --med-color-neutral-primary-330-luminosity: 33%;
  --med-color-neutral-primary-380-luminosity: 38%;
  --med-color-neutral-primary-430-luminosity: 43%;
  --med-color-neutral-primary-480-luminosity: 48%;
  --med-color-neutral-primary-530-luminosity: 53%;
  --med-color-neutral-primary-580-luminosity: 58%;
  --med-color-neutral-primary-630-luminosity: 63%;
  --med-color-neutral-primary-680-luminosity: 68%;
  --med-color-neutral-primary-730-luminosity: 73%;
  --med-color-neutral-primary-780-luminosity: 78%;
  --med-color-neutral-primary-830-luminosity: 83%;
  --med-color-neutral-primary-880-luminosity: 88%;
  --med-color-neutral-primary-930-luminosity: 93%;
  --med-color-neutral-primary-980-luminosity: 98%;
  --med-color-success-primary-hue: 128;
  --med-color-success-primary-saturation: 80%;
  --med-color-success-primary-650-luminosity: 65%;
  --med-color-attention-primary-hue: 44;
  --med-color-attention-primary-saturation: 80%;
  --med-color-attention-primary-650-luminosity: 65%;
  --med-color-caution-primary-hue: 24;
  --med-color-caution-primary-saturation: 80%;
  --med-color-caution-primary-650-luminosity: 65%;
  --med-color-warning-primary-hue: 4;
  --med-color-warning-primary-saturation: 80%;
  --med-color-warning-primary-650-luminosity: 65%;
}
