@import '../variables';
@import '../mixins';

//
// css custom properties
//
:root {
  /* @each $key, $value in $color-main-hue {
    $name: $key;

    @each $key-2, $value-2 in $value {
      $set: $key-2;
      $hue: $value-2;

      @include generate-color-main($name, $set, $hue);
    }
  } */

  @include generate-color-main($color-main-hue, $color-main-saturation, $color-main-luminosity);
  @include generate-color-neutral($color-neutral-hue, $color-neutral-saturation, $color-neutral-luminosity, $color-neutral-variations);
}

//
// css classes
//
/* @each $color-name, $color-hue in $color-hue {
  @include generate-color-main-classes($color-name);
}
 */
