$namespace: med;

//
// colors configuration
// configuration default: dark
//
$color-main-hue: (
  brand: (
    primary: 24,
  ),
  product-01: (
    primary: 188,
    secondary: 169,
  ),
  product-02: (
    primary: 200,
    secondary: 268,
  ),
) !default;
$color-main-saturation: (
  brand: (
    primary: 80%,
  ),
  product-01: (
    primary: 80%,
    secondary: 80%,
  ),
  product-02: (
    primary: 80%,
    secondary: 80%,
  ),
) !default;
$color-main-luminosity: (
  brand: (
    primary: 10%,
  ),
  product-01: (
    primary: 10%,
    secondary: 10%,
  ),
  product-02: (
    primary: 10%,
    secondary: 10%,
  ),
) !default;
$color-main-variations: (
  brand: (
    primary: (
      2,
      3,
      5,
      7,
      8,
    ),
  ),
  product-01: (
    primary: (
      2,
      3,
      5,
      7,
      8,
    ),
    secondary: (
      2,
      3,
      5,
      7,
      8,
    ),
  ),
  product-02: (
    primary: (
      2,
      3,
      5,
      7,
      8,
    ),
    secondary: (
      2,
      3,
      5,
      7,
      8,
    ),
  ),
) !default;

$color-neutral-hue: (
  primary: 24,
  secondary: 24,
) !default;
$color-neutral-saturation: (
  primary: 10%,
  secondary: 10%,
) !default;
$color-neutral-luminosity: (
  primary: 8%,
  secondary: 13%,
) !default;
$color-neutral-variations: (
  primary: (
    1,
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    9,
    10,
  ),
  secondary: (
    1,
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    9,
  ),
) !default;
