$namespace: med;

//
// colors configuration
// configuration default: dark
//
$color-hue: (
  primary: 24,
) !default;
$color-steps: 5 !default;
$color-saturation: 80% !default;
$color-luminosity: (
  1: 20%,
  2: 30%,
  3: 50%,
  4: 70%,
  5: 80%,
) !default;
$color-mutable-1: var(--#{$namespace}-color-neutral-luminosity-factor-1, 0%) !default;
$color-mutable-2: var(--#{$namespace}-color-neutral-luminosity-factor-2, 0%) !default;
$color-mutable-3: var(--#{$namespace}-color-neutral-luminosity-factor-1, 0%) !default;

$color-neutral-steps: 10 !default;
$color-neutral-hue: 24 !default;
$color-neutral-saturation: 10% !default;
$color-neutral-luminosity: 8% !default;
$color-neutral-invert: var(--#{$namespace}-color-neutral-invert, 1) !default;
$color-neutral-mutable-1: var(--#{$namespace}-color-neutral-luminosity-factor-1, 0%) !default;
$color-neutral-mutable-2: var(--#{$namespace}-color-neutral-luminosity-factor-2, 0%) !default;

//
// base
// background default: dark
//
$background: color('neutral', '1');
$color: color('neutral', '10');
