.med-theme-product-01 {
  --med-color-product-01-primary-200: hsl(var(--med-color-product-01-primary-hue), var(--med-color-product-01-primary-saturation), var(--med-color-product-01-primary-200-luminosity));
  --med-color-product-01-primary-300: hsl(var(--med-color-product-01-primary-hue), var(--med-color-product-01-primary-saturation), var(--med-color-product-01-primary-300-luminosity));
  --med-color-product-01-primary-500: hsl(var(--med-color-product-01-primary-hue), var(--med-color-product-01-primary-saturation), var(--med-color-product-01-primary-500-luminosity));
  --med-color-product-01-primary-700: hsl(var(--med-color-product-01-primary-hue), var(--med-color-product-01-primary-saturation), var(--med-color-product-01-primary-700-luminosity));
  --med-color-product-01-primary-800: hsl(var(--med-color-product-01-primary-hue), var(--med-color-product-01-primary-saturation), var(--med-color-product-01-primary-800-luminosity));
  --med-color-product-01-secondary-200: hsl(var(--med-color-product-01-secondary-hue), var(--med-color-product-01-secondary-saturation), var(--med-color-product-01-secondary-200-luminosity));
  --med-color-product-01-secondary-300: hsl(var(--med-color-product-01-secondary-hue), var(--med-color-product-01-secondary-saturation), var(--med-color-product-01-secondary-300-luminosity));
  --med-color-product-01-secondary-500: hsl(var(--med-color-product-01-secondary-hue), var(--med-color-product-01-secondary-saturation), var(--med-color-product-01-secondary-500-luminosity));
  --med-color-product-01-secondary-700: hsl(var(--med-color-product-01-secondary-hue), var(--med-color-product-01-secondary-saturation), var(--med-color-product-01-secondary-700-luminosity));
  --med-color-product-01-secondary-800: hsl(var(--med-color-product-01-secondary-hue), var(--med-color-product-01-secondary-saturation), var(--med-color-product-01-secondary-800-luminosity));
}

.med-color_product-01-primary-200 {
  --med-color: var(--med-color-product-01-primary-200) !important;
  --med-color-contrast: var(--med-color-neutral-primary-980) !important;
}

.med-color_product-01-primary-300 {
  --med-color: var(--med-color-product-01-primary-300) !important;
  --med-color-contrast: var(--med-color-neutral-primary-980) !important;
}

.med-color_product-01-primary-500 {
  --med-color: var(--med-color-product-01-primary-500) !important;
  --med-color-contrast: var(--med-color-neutral-primary-980) !important;
}

.med-color_product-01-primary-700 {
  --med-color: var(--med-color-product-01-primary-700) !important;
  --med-color-contrast: var(--med-color-neutral-primary-80) !important;
}

.med-color_product-01-primary-800 {
  --med-color: var(--med-color-product-01-primary-800) !important;
  --med-color-contrast: var(--med-color-neutral-primary-80) !important;
}

.med-color_product-01-secondary-200 {
  --med-color: var(--med-color-product-01-secondary-200) !important;
  --med-color-contrast: var(--med-color-neutral-primary-980) !important;
}

.med-color_product-01-secondary-300 {
  --med-color: var(--med-color-product-01-secondary-300) !important;
  --med-color-contrast: var(--med-color-neutral-primary-980) !important;
}

.med-color_product-01-secondary-500 {
  --med-color: var(--med-color-product-01-secondary-500) !important;
  --med-color-contrast: var(--med-color-neutral-primary-980) !important;
}

.med-color_product-01-secondary-700 {
  --med-color: var(--med-color-product-01-secondary-700) !important;
  --med-color-contrast: var(--med-color-neutral-primary-80) !important;
}

.med-color_product-01-secondary-800 {
  --med-color: var(--med-color-product-01-secondary-800) !important;
  --med-color-contrast: var(--med-color-neutral-primary-80) !important;
}
