@import '../../variables';

//
// dark scheme
//
// main colors
$color-main-hue-dark: (
  product-02: (
    brand: 24,
    primary: 200,
    secondary: 268,
  ),
) !default;
$color-main-saturation-dark: (
  product-02: (
    brand: 80%,
    primary: 80%,
    secondary: 80%,
  ),
) !default;
$color-main-luminosity-dark: (
  product-02: (
    brand: (
      200: 20%,
      300: 30%,
      500: 50%,
      700: 70%,
      800: 80%,
    ),
    primary: (
      200: 20%,
      300: 30%,
      500: 50%,
      700: 70%,
      800: 80%,
    ),
    secondary: (
      200: 20%,
      300: 30%,
      500: 50%,
      700: 70%,
      800: 80%,
    ),
  ),
) !default;
$color-main-contrast-dark: (
  product-02: (
    brand: (
      200: var(--#{$namespace}-color-neutral-primary-980),
      300: var(--#{$namespace}-color-neutral-primary-980),
      500: var(--#{$namespace}-color-neutral-primary-980),
      700: var(--#{$namespace}-color-neutral-primary-80),
      800: var(--#{$namespace}-color-neutral-primary-80),
    ),
    primary: (
      200: var(--#{$namespace}-color-neutral-primary-980),
      300: var(--#{$namespace}-color-neutral-primary-980),
      500: var(--#{$namespace}-color-neutral-primary-980),
      700: var(--#{$namespace}-color-neutral-primary-80),
      800: var(--#{$namespace}-color-neutral-primary-80),
    ),
    secondary: (
      200: var(--#{$namespace}-color-neutral-primary-980),
      300: var(--#{$namespace}-color-neutral-primary-980),
      500: var(--#{$namespace}-color-neutral-primary-980),
      700: var(--#{$namespace}-color-neutral-primary-80),
      800: var(--#{$namespace}-color-neutral-primary-80),
    ),
  ),
) !default;

// neutral colors
$color-neutral-hue-dark: (
  primary: 24,
) !default;
$color-neutral-saturation-dark: (
  primary: 10%,
) !default;
$color-neutral-luminosity-dark: (
  primary: (
    80: 8%,
    130: 13%,
    180: 18%,
    230: 23%,
    280: 28%,
    330: 33%,
    380: 38%,
    430: 43%,
    480: 48%,
    530: 53%,
    580: 58%,
    630: 63%,
    680: 68%,
    730: 73%,
    780: 78%,
    830: 83%,
    880: 88%,
    930: 93%,
    980: 98%,
  ),
) !default;
$color-neutral-contrast-dark: (
  primary: (
    80: var(--#{$namespace}-color-neutral-primary-980),
    130: var(--#{$namespace}-color-neutral-primary-980),
    180: var(--#{$namespace}-color-neutral-primary-980),
    230: var(--#{$namespace}-color-neutral-primary-980),
    280: var(--#{$namespace}-color-neutral-primary-980),
    330: var(--#{$namespace}-color-neutral-primary-980),
    380: var(--#{$namespace}-color-neutral-primary-980),
    430: var(--#{$namespace}-color-neutral-primary-980),
    480: var(--#{$namespace}-color-neutral-primary-980),
    530: var(--#{$namespace}-color-neutral-primary-80),
    580: var(--#{$namespace}-color-neutral-primary-80),
    630: var(--#{$namespace}-color-neutral-primary-80),
    680: var(--#{$namespace}-color-neutral-primary-80),
    730: var(--#{$namespace}-color-neutral-primary-80),
    780: var(--#{$namespace}-color-neutral-primary-80),
    830: var(--#{$namespace}-color-neutral-primary-80),
    880: var(--#{$namespace}-color-neutral-primary-80),
    930: var(--#{$namespace}-color-neutral-primary-80),
    980: var(--#{$namespace}-color-neutral-primary-80),
  ),
) !default;

// feedback colors
$color-feedback-hue-dark: (
  success: (
    primary: 128,
  ),
  attention: (
    primary: 44,
  ),
  caution: (
    primary: 24,
  ),
  warning: (
    primary: 4,
  ),
) !default;
$color-feedback-saturation-dark: (
  success: (
    primary: 80%,
  ),
  attention: (
    primary: 80%,
  ),
  caution: (
    primary: 80%,
  ),
  warning: (
    primary: 80%,
  ),
) !default;
$color-feedback-luminosity-dark: (
  success: (
    primary: (
      650: 65%,
    ),
  ),
  attention: (
    primary: (
      650: 65%,
    ),
  ),
  caution: (
    primary: (
      650: 65%,
    ),
  ),
  warning: (
    primary: (
      650: 65%,
    ),
  ),
) !default;
$color-feedback-contrast-dark: (
  success: (
    primary: (
      650: var(--#{$namespace}-color-neutral-primary-80),
    ),
  ),
  attention: (
    primary: (
      650: var(--#{$namespace}-color-neutral-primary-80),
    ),
  ),
  caution: (
    primary: (
      650: var(--#{$namespace}-color-neutral-primary-80),
    ),
  ),
  warning: (
    primary: (
      650: var(--#{$namespace}-color-neutral-primary-80),
    ),
  ),
) !default;

//
// light scheme
//
// main colors
$color-main-hue-light: (
  product-02: (
    brand: 24,
    primary: 200,
    secondary: 268,
  ),
) !default;
$color-main-saturation-light: (
  product-02: (
    brand: 40%,
    primary: 40%,
    secondary: 40%,
  ),
) !default;
$color-main-luminosity-light: (
  product-02: (
    brand: (
      200: 80%,
      300: 70%,
      500: 50%,
      700: 30%,
      800: 20%,
    ),
    primary: (
      200: 80%,
      300: 70%,
      500: 50%,
      700: 30%,
      800: 20%,
    ),
    secondary: (
      200: 80%,
      300: 70%,
      500: 50%,
      700: 30%,
      800: 20%,
    ),
  ),
) !default;
$color-main-contrast-light: (
  product-02: (
    brand: (
      200: var(--#{$namespace}-color-neutral-primary-980),
      300: var(--#{$namespace}-color-neutral-primary-980),
      500: var(--#{$namespace}-color-neutral-primary-80),
      700: var(--#{$namespace}-color-neutral-primary-80),
      800: var(--#{$namespace}-color-neutral-primary-80),
    ),
    primary: (
      200: var(--#{$namespace}-color-neutral-primary-980),
      300: var(--#{$namespace}-color-neutral-primary-980),
      500: var(--#{$namespace}-color-neutral-primary-80),
      700: var(--#{$namespace}-color-neutral-primary-80),
      800: var(--#{$namespace}-color-neutral-primary-80),
    ),
    secondary: (
      200: var(--#{$namespace}-color-neutral-primary-980),
      300: var(--#{$namespace}-color-neutral-primary-980),
      500: var(--#{$namespace}-color-neutral-primary-80),
      700: var(--#{$namespace}-color-neutral-primary-80),
      800: var(--#{$namespace}-color-neutral-primary-80),
    ),
  ),
) !default;

// neutral colors
$color-neutral-hue-light: (
  primary: 24,
) !default;
$color-neutral-saturation-light: (
  primary: 10%,
) !default;
$color-neutral-luminosity-light: (
  primary: (
    80: 98%,
    130: 93%,
    180: 88%,
    230: 83%,
    280: 78%,
    330: 73%,
    380: 68%,
    430: 63%,
    480: 58%,
    530: 53%,
    580: 48%,
    630: 43%,
    680: 38%,
    730: 33%,
    780: 28%,
    830: 23%,
    880: 18%,
    930: 13%,
    980: 8%,
  ),
) !default;
$color-neutral-contrast-light: (
  primary: (
    80: var(--#{$namespace}-color-neutral-primary-980),
    130: var(--#{$namespace}-color-neutral-primary-980),
    180: var(--#{$namespace}-color-neutral-primary-980),
    230: var(--#{$namespace}-color-neutral-primary-980),
    280: var(--#{$namespace}-color-neutral-primary-980),
    330: var(--#{$namespace}-color-neutral-primary-980),
    380: var(--#{$namespace}-color-neutral-primary-980),
    430: var(--#{$namespace}-color-neutral-primary-980),
    480: var(--#{$namespace}-color-neutral-primary-980),
    530: var(--#{$namespace}-color-neutral-primary-80),
    580: var(--#{$namespace}-color-neutral-primary-80),
    630: var(--#{$namespace}-color-neutral-primary-80),
    680: var(--#{$namespace}-color-neutral-primary-80),
    730: var(--#{$namespace}-color-neutral-primary-80),
    780: var(--#{$namespace}-color-neutral-primary-80),
    830: var(--#{$namespace}-color-neutral-primary-80),
    880: var(--#{$namespace}-color-neutral-primary-80),
    930: var(--#{$namespace}-color-neutral-primary-80),
    980: var(--#{$namespace}-color-neutral-primary-80),
  ),
) !default;

// feedback colors
$color-feedback-hue-light: (
  success: (
    primary: 128,
  ),
  attention: (
    primary: 44,
  ),
  caution: (
    primary: 24,
  ),
  warning: (
    primary: 4,
  ),
) !default;
$color-feedback-saturation-light: (
  success: (
    primary: 80%,
  ),
  attention: (
    primary: 80%,
  ),
  caution: (
    primary: 80%,
  ),
  warning: (
    primary: 80%,
  ),
) !default;
$color-feedback-luminosity-light: (
  success: (
    primary: (
      650: 45%,
    ),
  ),
  attention: (
    primary: (
      650: 45%,
    ),
  ),
  caution: (
    primary: (
      650: 45%,
    ),
  ),
  warning: (
    primary: (
      650: 45%,
    ),
  ),
) !default;
$color-feedback-contrast-light: (
  success: (
    primary: (
      650: var(--#{$namespace}-color-neutral-primary-980),
    ),
  ),
  attention: (
    primary: (
      650: var(--#{$namespace}-color-neutral-primary-980),
    ),
  ),
  caution: (
    primary: (
      650: var(--#{$namespace}-color-neutral-primary-980),
    ),
  ),
  warning: (
    primary: (
      650: var(--#{$namespace}-color-neutral-primary-980),
    ),
  ),
) !default;
