@import '../../styles/functions';
@import '../../styles/variables';

:host {
  display: block;
  padding: 8px 16px;
  background: var(--#{$namespace}-color-brand-primary-500);
  color: var(--#{$namespace}-color-neutral-primary-980);
}

//
// color
//

:host(.#{$namespace}-color) {
  background: var(--#{$namespace}-color);
  color: var(--#{$namespace}-color-contrast);
}
